*{
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: grey;
    color: White;
   }

header{
    border-bottom: 2px solid white;
    padding: 20px 0;
    background-color: black;
}
   
header h1{
    font-weight: bold;
    font-size: 30px;

}

header a{
    text-decoration: none;
    color: white;
    
}

header nav{
    margin: -60px 0;
    float:right;
}

header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 2px solid white;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    
}

.subtitle{
    float:right;
    margin: 20% 50%;
}

.about-me h2{
    float:left;
    border-right: 3px solid black;
    margin: 5% 15% 0 0;
}

.about-me p{
    font-size: 18px;
    margin: 12px 0 12px 65%;
}

.work h2{
    float:left;
    border-right: 3px solid black;
    margin: 5% 15% 0 0;
}

.run-buddy{

}

.run-buddy img{
    max-width: 85%;
    float:right;
    
}

.contact-me h2{
    float:left;
    border-right: 3px solid black;
    margin: 5% 15% 0 0;
}